#app {
   display: grid;
   grid-template-columns: 32.73% 67.21%;

   height: 100vh;
   overflow: hidden;
}


.aside-container {
   display: flex;
   padding: 20px;
   overflow: hidden;
   
   .background {
      img {
         position: relative;
         width: 400px;
         height: 728px;
         border-radius: 12px;
      }
   }
   
   .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      margin: 32px;
      gap: 16px;
      
      img {
         width: 45.85px;
         height: 48px;
      }
      
      .text {
         display: flex;
         flex-direction: column;
         gap: 4px;
         
         h1 {
            font: var(--logo);
            color: var(--pink);
         }
         
         p {
            font: 300 var(--body-md);
            color: var(--text-heading);
         }
      }
      
   }
   
}
main {
   overflow: auto;
   padding-block: 80px;
   gap: 40px;

   h1 {
      font: 600 var(--heading-md);
      color: var(--text-heading);
   }

   .main-container {
      max-width: 820px;
      margin-left: auto;
   }
}