#app {
   display: grid;
   grid-template-columns: 32.73% 67.21%;
   
   height: 100vh;
   overflow: hidden;
   padding: 20px;
   gap: 20px;
}

.aside-container {
   display: flex;

   .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      margin: 32px;
      gap: 16px;
      
      img {
         width: 45.85px;
         height: 48px;
      }
      
      .text {
         display: flex;
         flex-direction: column;
         gap: 4px;
         
         h1 {
            font: var(--logo);
            color: var(--pink);
         }
         
         p {
            font: 300 var(--body-md);
            color: var(--text-heading);
         }
      }
      
   }

   img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
   }
   
}

main {
   display: flex;
   flex-direction: column;
   width: 820px;
   overflow: auto;
   border-radius: 12px;
   padding-block: 80px;
   padding-inline: 130px;
   margin-right: 20px;
   background-color: var(--shape-body);   

   h1 {
      font: 600 var(--heading-md);
      color: var(--text-heading);
   }

   .main-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }
}

.section-title {
   display: flex;
   gap: 12px;

   img {
      width: 24px;
      height: 24px;
      filter: var(--filter-gray);
   }

   h2 {
      font: var(--heading-sm);
      color: var(--text-heading);
   }
}

.start-end-event {
   display: flex;
   flex-direction: row;
   gap: 16px;
}

.type-and-date {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 16px;
}

.style-and-cover {
   display: flex;
   flex-direction: row;
   gap: 16px;
}

.mail-phone {
   display: flex;
   flex-direction: row;
   gap: 16px;
}

footer {
   display: flex;
   flex-direction: column;
   width: 560px;
   gap: 48px;
   padding-top: 40px;

   .line {
      border: 1px solid var(--input-stroke);
   }
}

#dados-contato {
   gap: 16px;
}





