.action-wrapper {
  display: flex;
  justify-content: end;

  button {
    all: unset;
    font: var(--body-md);
    color: var(--text-heading);
    padding-inline: 20px;
    padding-block: 4px;
    gap: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 8px;
    background-color: var(--brand-dark);
    cursor: pointer;

    img {
      filter: var(--filter-white);
      height: 20px;
      width: 20px;
    }

    &:hover, &:focus {
      background-color: var(--brand-light);
    }

  }
}

